/* g fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;700&display=swap'); */
/* fonts */
:root {
  /* font family */
  /* --ffamily-primary: 'Work Sans', sans-serif; */
  /* --ffamily-primary: 'Poppins', sans-serif; */
  /* --ffamily-primary: 'Roboto', sans-serif; */
  --ffamily-primary: 'Open Sans', sans-serif;

  --ffamily-secondary: 'Source Code Pro', monospace;
}
:root {
  --clr-dark: #303030;
  --clr-light: #f8f8f8;

  /* --fs-body: 1rem; */
  /* --fw-reg: 300; */
  /* --fw-bold: 900; */

  --backdrop-color: rgba(0, 0, 0, 0.3);
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--clr-light);
  font-family: var(--ff-primary);
  /* font-size: var(--fs-body); */
  /* line-height: 1.6; */
  background-color: #131313;
}

.backdrop-blur {
  background-color: var(--backdrop-color);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

/* general */
i {
  cursor: pointer;
}
i:hover {
  color: #f8f8f8;
}
i:active {
  transform: scale(0.9);
}
i.album__btn {
  border-color: inherit;
}

/* nav and header */
.dropdown-menu {
  background-color: #191919 !important;
}
.dropdown-item:hover {
  background-color: #14bf509f;
}
.breadcrumb a {
  color: #14bf50;
  font-weight: bold;
  transition: all 0.2s;
}
.breadcrumb a:hover {
  text-decoration: none;
  text-shadow: 1px 2px 21px #07993a;
}

/* jumbotron */
.jumbotron.jumbotron-fluid {
  background: url('assets/img/cover.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80% 80%;
  margin-left: -15px;
  margin-right: -15px;
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.638);
}

/* side menu */
#sideMenu {
  display: inline-block;
  width: 12rem;
  height: 100vh;
  background: #000;
  position: sticky;
  top: 0;
  left: 0;
}

/* main */
nav.navbar {
  padding-left: 15px;
  margin-left: -15px;
  margin-right: -15px;
}
.main__wrapper {
  width: 100%;
}

#userMenu {
  background-color: #000;
}

#userImg {
  height: 30px;
  width: 30px;
  position: relative;
  top: -1px;
}
/* ROWS */
.row.flex-nowrap {
}
/* albums */
.album__cover {
  position: relative;
}
.album__genere {
  background: #07993a;
  position: absolute;

  top: 0;
  left: 0;
}

/* footer - player */
#player {
  height: 10vh;
  background: rgb(24, 24, 24);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

#main {
  background: var(--clr-dark);
}

i {
  color: grey;
  font-weight: lighter;
  background: #000;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px !important;
}
.album__card {
  background-color: #191919;
}
.album__card:hover {
  background-color: #282828;
}
.album__title {
  font-size: 0.7rem;
}

.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-text {
  color: gray;
}

.card {
  transition: 0.1s;
  cursor: pointer;
}

p {
  font-size: 0.6rem;
}

/* table ex 6 */
.custom-outline-btn {
  border-color: #14bf50;
}
.custom-outline-btn.btn-outline-light.rounded-pill:hover,
.custom-outline-btn.btn-outline-light.rounded-pill:active {
  background-color: #191919;
  color: #14bf50;
  border-color: #191919;
}

@media (max-width: 992px) {
  .dropdown-menu {
    left: -600%;
  }

  .dropdown-toggle::after {
    display: none;
  }
}
